html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .4rem;
  text-align: center;
  margin: 5px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  padding: .3em .75em;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  border: 3px solid;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
